.about-section {
  background-image: url("../assets/img/bg-snow.png");
  background-position: center;
  background-size: cover;
}

.about {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  background-color: #FFFFFF;
  border-radius: 20px;
}

.about-description {
  width: 75%;
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: #FFFFFF;
  border-radius: 20px;
}

.about-image {
  overflow: hidden;
  border-radius: 20px;
}


.about-title {
  color: #FF4646;
}

.about-subtitle {
  color: #181C29;
}

.about-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 23.68px;
}

.about-img {
  vertical-align: middle;
  position: relative;
  right: -50%;
  transform: translate(-50%);
  border-radius: 20px;
}

@media (max-width: 1024px) {
  .about-description {
    width: 85%;
  }
}

@media (max-width: 630px) {
  .about {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 528px;
    align-items: start;
  }

  .about-description {
    width: 100%;
    padding: 60px 20px;
}
}