.best-gifts-section {
  background-image: url("../assets/img/bg-snow.png");
  background-position: center;
  background-size: cover;
}

.best-gifts {
  text-align: center;
}

.best-gifts-title {
  color: #FFFFFF;
  margin-bottom: 8px;
}

.best-gifts-subtitle {
  display: inline-block;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.best-gifts-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  list-style-type: none;
}

.best-gifts-item {
  width: 310px;
  height: 342px;
  background-color: #ECF3F8;
  border-radius: 20px;
}

.gift-description {
  height: 112px;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 19px 20px;
  text-align: left;
}

.gift-purpose {
  display: inline-block;
  font-size: 12px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 9px;
}

.gift-for-work {
  color: #4361FF;
}

.gift-for-health {
  color: #06A44F;
}

.gift-for-harmony {
  color: #FF43F7;
}

.gift-name {
  font-size: 16px;
  color: #181C29;
  letter-spacing: 0.08em;
  line-height: 24px;
  text-transform: uppercase;
}