@media (hover:hover) {
  .logo:hover {
    cursor: pointer;
  }

  .nav__list-link:hover {
    cursor: pointer;
    color: #FF4646;
    background-color: #FF46461A;
  }

  .gifts-link:hover {
    cursor: pointer;
    color: #181C29;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
  }

  .best-gifts-item:hover {
    cursor: pointer;
  }

  .best-gifts-item:hover .gift-name {
    color: #FF4646;
  }

  .slider-button:hover {
    cursor: pointer;
    background-color: #FFFFFF;
  }

  .slider-button:hover svg path {
    stroke: #FF4646;
  }

  .contacts-item:hover {
    cursor: pointer;
  }

  .contacts-item:hover .contact-phone,
  .contacts-item:hover .contact-address,
  .contacts-item:hover .contact-email {
    color: #FF4646;
  }

  .contacts-item:hover .contact-text {
    color: #FF4646;
  }

  .socials-link:hover {
    cursor: pointer;
  }

  .socials-link:hover svg {
    transform: scale(1.2);
  }

  .socials-link:hover svg path {
    stroke: #FF4646;
  }

  .made-in-link:hover {
    color: #FF4646;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 35px;
  }

  .about-description {
    width: 85%;
  }

  .contacts-list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 12px;
  }

  .contacts-item:last-child {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 8px;
  }

  .header-section {
    position: relative;
    /* overflow: hidden; */
  }

  .nav {
    position: fixed;
    top: 64px;
    right: -100%;
    width: 100%;
    height: 960px;
    /* height: 100vh; */
    margin: 0 auto;
    z-index: 10;
  }

  .nav__list {
    /* display: none; */
    /* right: -100%; */
    flex-direction: column;
    row-gap: 16px;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
  }

  .nav__list-link {
    font-size: 24px;
    letter-spacing: 0.16em;
  }

  .nav__is-visible {
    right: 0;
  }

  .burger-button {
    display: flex;
  }

  .burger-button_x span:first-child {
    transform-origin: 0 0;
    transform: rotate(45deg) translate(0px, -4px);
  }

  .burger-button_x span:last-child {
    transform-origin: 0 0;
    transform: rotate(-45deg) translate(0px, 3px);
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 630px) {
  .about {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 528px;
    align-items: start;
  }

  .about-description {
    width: 100%;
    padding: 60px 20px;
  }

  .nav {
    height: 748px;
  }
}