.slider-section {
  /* background-color: #FF4646; */
  background-image: url("../assets/img/bg-snow.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.slider {
  text-align: center;
}

.slider-title {
  color: #FFFFFF;
  margin-bottom: 8px;
}

.slider-subtitle {
  display: inline-block;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.slider-list {
  display: flex;
  column-gap: 22px;
  margin-bottom: 20px;
  position: relative;
  left: 0;
  transition: all 1s ease-in-out;
}

.slider-item {
  display: flex;
  column-gap: 20px;
  align-items: center;
}

.slider-item span {
  font-size: 80px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.slider-item img {
  border-radius: 20px;
}

.slider-pagination {
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  justify-content: flex-end;
}

.slider-pagination-item:first-child {
  transform: rotate(-180deg);
}

.slider-button {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
}

.button_disabled {
  border-color: #FFFFFF66;
  pointer-events: none;
}

.button_disabled svg path {
  stroke: #FFFFFF66;
}